* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #033130;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.player-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.player-song-title-div {}

.player-search-bar-wrapper {
  width: 100%;
  height:40px;
  background: #022524b3;
  cursor:pointer;
}

.player-search-bar {
  background-color: #3D033C;
  height:100%;
  border-radius: 0px 2px 2px 0;
}

.player-container button {
  padding: 1em;
  border: none;
  font-size: 1.2em;
  background-color: black;
  color: white;
  border-radius: 40%;
  cursor: pointer;
}

.player-buttons svg {
  cursor: pointer;
  font-size: 5em;
}
.player-buttons svg:hover {
  color: rgba(255, 255, 255, 0.671);
}
